<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block title %}运维管理平台{% endblock %}</title>
</head>
<body>
    <h1>运维管理平台</h1>
    <a href="{% url 'logout' %}">退出</a>>
    <a href="{% block goback %}{% endblock %}">返回</a>>
    <!-- content -->                                                                                                              
    {% block content %}                                                                                                           
    {% endblock %}                                                                                                                
    <!-- // content --> 
</body>
</html>
