<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}{% endblock %}运维管理平台</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/configmanager/css/td.css" />
    <link rel="stylesheet" type="text/css" href="/static/configmanager/css/bgDiv.css" />

    <!--引用jquery cdn和bootstratp css、js-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    {% block head %}{% endblock %}


</head>
<body>

<script src="https://cdn.bootcss.com/spin.js/2.3.2/spin.min.js"></script>

<script>

var opts = {
            lines: 13, // 花瓣数目
            length: 20, // 花瓣长度
            width: 10, // 花瓣宽度
            radius: 30, // 花瓣距中心半径   
            corners: 1, // 花瓣圆滑度 (0-1)
            rotate: 0, // 花瓣旋转角度
            direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针
            color: '#5882FA', // 花瓣颜色
            speed: 2, // 花瓣旋转速度
            trail: 60, // 花瓣旋转时的拖影(百分比)
            shadow: false, // 花瓣是否显示阴影
            hwaccel: false, //spinner 是否启用硬件加速及高速旋转
            className: 'spinner', // spinner css 样式名称
            zIndex: 2e9, // spinner的z轴 (默认是2000000000)
            top: '50%', // spinner 相对父容器Top定位 单位 px
            left: '50%', // spinner 相对父容器Left定位 单位 px             
            position: 'fixed',
        };
var spinner = new Spinner(opts);
</script>

<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">运维管理平台</a>
	</div>
	<div class="collapse navbar-collapse" id="example-navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					系统管理 <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li role="presentation" class="dropdown-header">ECS管理</li>
                    <li><a href="{% url 'configmanager:ecslist' %}">ECS列表</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="dropdown-header">站点管理</li>
                    <li><a href="{% url 'configmanager:sitelist' %}">站点列表</a></li>
                    <li><a href="{% url 'configmanager:siteadd' %}">添加站点</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="dropdown-header">SLB管理</li>
                    <li><a href="{% url 'configmanager:slblist' %}">SLB列表</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					发布管理 <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li role="presentation" class="dropdown-header">配置管理</li>
                    <li><a href="{% url 'configmanager:configlist' %}">配置修改</a></li>
                    <li><a href="{% url 'configmanager:undeployconfiglist' %}">待生效配置</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" class="dropdown-header">发布申请</li>
                    <li><a href="{% url 'configmanager:undeployapplylist' %}">待发布申请</a></li>
                    <li><a href="{% url 'configmanager:applylist' %}">发布申请列表</a></li>
                    <li><a href="{% url 'configmanager:applyadd' %}">创建发布申请</a></li>
				</ul>
			</li>
		</ul>
	</div>
	</div>
</nav>

    <!-- content -->                                                                                                              
    {% block content %}                                                                                                           
    {% endblock %}                                                                                                                
    <!-- // content --> 

</body>
</html>
