<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}运维管理平台</title>
    <style type="text/css">
    td
    {
    white-space: nowrap
    }
    th
    {
    white-space: nowrap
    }
</style>
</head>
<body>
    <!-- content -->                                                                                                              
    {% block content %}                                                                                                           
    {% endblock %}                                                                                                                
    <!-- // content --> 
</body>
</html>
