{% extends 'configmanager/__base__.html' %}
{% block title %}发布申请详情 | {% endblock %}
{% block content %}
<h2>发布管理 > 发布申请详情</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<script type="text/javascript">
function insRow()
  {
  var x=document.getElementById('deploysite').insertRow(-1)
  var y0=x.insertCell(0)
  var y1=x.insertCell(1)
  var y2=x.insertCell(2)
  var y3=x.insertCell(3)
  var y4=x.insertCell(4)
  var y5=x.insertCell(5)
  var y6=x.insertCell(6)
  var y7=x.insertCell(7)
  y0.innerHTML='<input type="text" value="" style="width:50px;">'
  y1.innerHTML='<select id="id_deploytype"><option></option><option value="T" >主干</option><option value="B" >分支</option></select>'
  y2.innerHTML='<input type="text" value="" style="width:50px;">'
  y3.innerHTML='<select name="deploysite" id="id_deploysite"><option></option>{% for s in Sites %}<option value={{ s.id }} {% if s.fullname == deployitem.deploysite.fullname %}selected{% endif %}>{{ s.fullname }}</option>{% endfor %}</select>'
  }


</script>

<form action="" method="post">
{% csrf_token %}
<table>
    <tbody>
        <tr>
            <th>申请编号</th>
            <td>{{ apply.applyproject }}</td>
        </tr>
        <tr>
            <th>选择发布站点</th>
            <td>
                <table id="deploysite">
                    <th>发布优先级</th>
                    <th>代码类型</th>
                    <th>Jenkins版本号</th>
                    <th>发布站点</th>
                    <th>研发负责人</th>
                    <th>所属ECS</th>
                    <th>发布状态</th>
                    <th>操作</th>
                    <tr>
                        {% for deployitem in apply.deployitem_set.all %}
                            <td>
                                <input type="text" id="id_deployorderby" value="{{ deployitem.deployorderby }}" style="width:50px;">
                            </td>
                            <td>
                                <select name="deploytype" id="id_deploytype">
                                    <option value="T" {% if deployitem.type == 'T' %}selected{% endif %}>主干</option>
                                    <option value="B" {% if deployitem.type == 'B' %}selected{% endif %}>分支</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" id="id_deployorderby" value="{{ deployitem.jenkinsversion }}" style="width:50px;">
                            </td>
                            <td>
                                <select name="deploysite" id="id_deploysite">
                                {% for s in Sites %}
                                    <option value={{ s.id }} {% if s.fullname == deployitem.deploysite.fullname %}selected{% endif %}>{{ s.fullname }}</option>      
                                {% endfor %}
                                </select>
                            <td>
                                <span>{{ deployitem.deploysite.devcharge }}</span>
                            </td>
                            <td>
                                {% for ecs in deployitem.deploysite.ECSlists.all %}
                                    <span>{{ ecs }}</span><br />
                                {% endfor %}
                            </td>
                            <td>
                                {% if deployitem.deploy_status == "Y" %}
                                    <span>已发布</span>
                                {% else %}
                                    <span>待发布</span>
                                {% endif %}
                            </td>
                            <td>
                            </td>
                    </tr>
                        {% endfor %}
                    </tr>
                </table>
                <button type="button" onclick="insRow()">添加另一个站点</button>
            </td>
        </tr>
        <tr>
            <th valign="top">配置修改说明</th>
            <td>
                <textarea name="confamendexplain" id="id_confamendexplain" rows="15" cols="150">{{ apply.confamendexplain }}</textarea>
            </td>
        </tr>
        <tr>
            <th valign="top">备注事项</th>
            <td>
                <textarea name="remarkexplain" id="id_remarkexplain" rows="15" cols="150">{{ apply.remarkexplain }}</textarea>
            </td>
        </tr>
        <tr>
            <th>状态</th>
            <td> 
                {% if apply.status == "WC" %}
                    <span>待提交</span>
                {% elif apply.status == "WD" %}
                    <span>待发布</span>
                {% elif apply.status == "C" %}
                    <span>已取消</span>
                {% elif apply.status == "D" %}
                    <span>已发布</span>
                {% elif apply.status == "DA" %}
                    <span>研发经理审批中</span>
                {% elif apply.status == "OA" %}
                    <span>运维经理审批中</span>
                {% elif apply.status == "EA" %}
                    <span>运维工程师审批中</span>
                {% elif apply.status == "TA" %}
                    <span>测试经理审批中</span>
                {% elif apply.status == "TDA" %}
                    <span>技术总监审批中</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>申请人</th>
            <td>
                {{ apply.apply_user }}
            </td>
        </tr>
        <tr>
            <th>申请时间</th>
            <td>
                {{ apply.apply_time }}
            </td>
        </tr>
        <tr>
            <th>展开操作日志</th>
            <td>
            </td>
        </tr>
    </tbody>
</table>
<input type="submit" name="apply-save"value="保存" />
<input type="submit" name="apply-goback" value="返回" />
</form>

{% endblock %}
