{% extends 'configmanager/__base__.html' %}
{% block title %}发布申请详情 | {% endblock %}
{% block content %}
<h2>发布管理 > 发布申请详情</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script type="text/html" id="item-template">
<tr id="deployitem-set-__prefix__">
    <td>{{ deployitem_form.empty_form.deployorderby }}</td>
    <td>{{ deployitem_form.empty_form.jenkinsversion }}</td>
    <td>{{ deployitem_form.empty_form.deploysite }}</td>
    <td>{{ deployitem_form.empty_form.type }}</td>
    <td>{{ deployitem_form.empty_form.deploy_status }}</td>
    <td>{{ deployitem_form.empty_form.DELETE }}</td>
    <td>{{ deployitem_form.empty_form.id }}</td>
    <td>{{ deployitem_form.empty_form.applyproject }}</td>
    {# <!-- or for crispy forms --> {% crispy deployitem_form.empty_form item_forms.form.helper %} #}
</tr>
</script>

<script>
$(document).ready(function() {
    $('.add-item').click(function(ev) {
        ev.preventDefault();
        var count = $('#id-deployitem-tbody').children().length;
        var tmplMarkup = $('#item-template').html();
        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
        $('tbody#id-deployitem-tbody').append(compiledTmpl);

        //update form count
        $('#id_item_items-TOTAL_FORMS').attr('value', count+1);

        // some animate to scroll to view our new form
      //  $('html, body').animate({
      //          scrollTop: $("#add-item-button").position().top-200
      //      }, 800);
    });
});
</script>


<form action="{% url 'configmanager:applysave' apply.id %}" method="post">
{% csrf_token %}
{{ apply_form.management_form }}
{{ deployitem_form.management_form }}
<input type="hidden" name="deployitem_set-TOTAL_FORMS" id="id_item_items-TOTAL_FORMS" value="{{ deployitem_form.total_form_count }}">
<table>
    <tbody>
        <tr>
            <th>申请编号</th>
            <td>{{ apply.applyproject }}</td>
        </tr>
        <tr>
            <th>期望发布时间</th>
            <td>{{ apply_form.wishdeploy_time }}</td>
        </tr>
        <tr>
            <th>选择发布站点</th>
            <td>
                <table id="table_id_deployitem">
                    <thead>
                        <tr>
                            {% for form in deployitem_form %}
                                {% if forloop.first %}
                                    {% for field in form %}
                                        {% if field.label != "Id" and field.label != "Applyproject" %}
                                            <th>{{ field.label }}</th>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="id-deployitem-tbody">
                        {% for form in deployitem_form %}
                            <tr id="deployitem-set-{{ forloop.counter0 }}">
                                <td>{{ form.deployorderby }}</td>
                                <td>{{ form.jenkinsversion }}</td>
                                <td>{{ form.deploysite }}</td>
                                <td>{{ form.type }}</td>
                                <td>{{ form.deploy_status }}</td>
                                <td>{{ form.DELETE }}</td>
                                <td>{{ form.id }}</td>
                                <td>{{ form.applyproject }}</td>
                                {# <!-- or for crispy forms --> {% crispy deployitem_form %} #}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="add-row"><td colspan="7"><a href="#" class="add-item" >添加另一个 发布站点</a></td></tr>
                    </tfoot>
                </table>
           </td>
        </tr>
        <tr>
            <th valign="top">配置修改说明</th>
            <td>
                {{ apply_form.confamendexplain }}
            </td>
        </tr>
        <tr>
            <th valign="top">备注事项</th>
            <td>
                {{ apply_form.remarkexplain }}
            </td>
        </tr>
        <tr>
            <th>状态</th>
            <td name="deploystatus"> 
                {% if apply.status == "WC" %}
                    <span>待提交</span>
                {% elif apply.status == "WD" %}
                    <span>待发布</span>
                {% elif apply.status == "C" %}
                    <span>已取消</span>
                {% elif apply.status == "D" %}
                    <span>已发布</span>
                {% elif apply.status == "DA" %}
                    <span>研发经理审批中</span>
                {% elif apply.status == "OA" %}
                    <span>运维经理审批中</span>
                {% elif apply.status == "EA" %}
                    <span>运维工程师审批中</span>
                {% elif apply.status == "TA" %}
                    <span>测试经理审批中</span>
                {% elif apply.status == "TDA" %}
                    <span>技术总监审批中</span>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>申请人</th>
            <td>
                {{ apply.apply_user }}
            </td>
        </tr>
        <tr>
            <th>申请时间</th>
            <td>
                {{ apply.apply_time }}
            </td>
        </tr>
        <tr>
            <th>展开操作日志</th>
            <td>
            </td>
        </tr>
    </tbody>
</table>
<input type={% if apply.status == 'WC' %}"button"{% else %}"hidden"{% endif %} name="apply-save"value="保存" />
<input type={% if apply.status == 'WC' %}"button"{% else %}"hidden"{% endif %} name="commit" value="提交" onclick='location.href=("{% url 'configmanager:applystatuschange' apply.id %}")' />
<input type="button" name="goback" value="返回" onclick='location.href=("/apply")'/>
</form>

{% endblock %}
