{% extends 'configmanager/__base__.html' %}
{% block title %}创建发布申请 | {% endblock %}
{% block content %}
<h2>发布管理 > 创建发布申请</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="" method="post">
{% csrf_token %}
{{ form.management_form }}
{{ deployitem_form.management_form }}
<table>
    <tbody>
        {% for field in form %}
        <tr>
            {% if field.label != "状态" and field.label != "申请人" and field.label != "发布人" and field.label != "实际发布时间" and field.label != "审核状态" and field.label != "期望发布日期" %}
                <th>{{ field.label }}</th>
                <td>{{ field }}</td>
            {% endif %}
            {% if field.label == "期望发布日期" %}
                <th>期望发布日期</th>
                <td>
                    <input type="text" name="wishdeploy_time" id="id_wishdeploy_time" required="" class="vDateField" size="10">
                </td>
            {% endif %}
        </tr>
        {% endfor %}
   </tbody>
</table>

<table>
    <thead>
        {% for form in deployitem_form %}
            {% if forloop.first %}
                {% for field in form %}
                    {% if field.label != "Id" and field.label != "Applyproject" %}
                    <th>{{ field.label }}</th>
                    {% endif %}
                {% endfor %}
            {% endif %}
    </thead>
    <tbody>
            <tr>
                {% for field in form %}
                    <td>{{ field }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<input type="submit" name="create" value="创建" />
<input type="button" name="goback" value="返回" onclick='location.href=("/apply")'/>
</form>

{% endblock %}
