{% extends 'configmanager/__base__.html' %}
{% block title %}确认删除 | {% endblock %}
{% block content %}
<h2 class="breadcrumbs">发布管理 > 发布申请 > 确认删除</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div id="content" class="colM">
        
    <h1>你确定吗？</h1>
    <p>请确认要删除选中的 apply 吗？以下所有对象和余它们相关的条目将都会被删除：</p>
    
    <form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="sGr33wPt3vfZWHBeDeQougH1QaazTAI2t39jb7B0CqYBb5Mnr8tfY3Fqcu5kmsoW">
        <div>
            <input type="submit" value="是的，我确定">
            <a href="#" class="button cancel-link">不，返回</a>
        </div>
    </form>

</div>

{% endblock %}
