{% extends 'configmanager/__base__.html' %}
{% block content %}
{% load systemmanager %}
    {% if request.user|has_group:"运维经理" or request.user|has_group:"admin" or request.user|has_group:"运维工程师" %}
    <div><h2>配置管理</h2></div>
    <div>
        <a href="{% url 'configmanager:configlist' %}" target="nav_right">配置修改</a>
    </div>
    <div>
        <a href="{% url 'configmanager:undeployconfiglist' %}" target="nav_right">待生效配置</a>
    </div>
    {% endif %}
    <div><h2>发布管理</h2></div>
    <div>
        <a href="{% url 'configmanager:undeployapplylist' %}" target="nav_right">待发布申请</a>
    </div>
    <div>
        <a href="{% url 'configmanager:applylist' %}" target="nav_right">发布申请列表</a>
    </div>
    <div>
        <a href="{% url 'configmanager:applyadd' %}" target="nav_right">创建发布申请</a>
    </div>
{% endblock %}
