{% extends 'configmanager/__base__.html' %}
{% block title %}ECS列表 | {% endblock %}
{% block goback %}{% url 'configmanager:index' %}{% endblock %}
{% block content %}


<div id="bgDiv"></div>
<div class="container-fluid" id="myspin">

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a href="javascript:void(0);" onclick="SyncAllECS()" type="button" class="btn btn-default btn-info">同步所有ECS</a>
            <a href="javascript:void(0);" onclick="UpdateAllECSInfo()" type="button" class="btn btn-default btn-info">刷新所有ECS基础信息</a>
            <a href="javascript:void(0);" onclick="UpdateAllECSHealth()" type="button" class="btn btn-default btn-success">刷新所有ECS监控数据</a>
         </div>
    </div><br>
    <div>
        {% if ECS_list %}
            <table class="table table-hover table-condensed">
                <thead>
                    <th>区域</th>
                    <th>网络类型</th>
                    <th>ECS名称</th>
                    <th>实例ID</th>
                    <th>系统类型</th>
                    <th>系统版本</th>
                    <th>内网IP地址</th>
                    <th>外网IP地址</th>
                    <th>配置规格</th>
                    <th>使用状态</th>
                    <th>运行状态</th>
                    <th>过期时间</th>
                    <th>修改日期</th>
                    <th>CPU使用率</th>
                    <th>内存使用率</th>
                    <th>磁盘使用率</th>
                    <th>操作</th>
                </thead>
                <tbody>
                    {% for ecs in ECS_list %}
                        <tr id="tr_{{ ecs.id }}" {% if 80 < ecs.recently_cpu or 80 < ecs.recently_memory or 80 < ecs.recently_diskusage %}class="danger"{% elif 70 < ecs.recently_cpu or 70 < ecs.recently_memory or 70 < ecs.recently_diskusage %}class="warning"{% endif %}>
                            <td>{{ ecs.regionId }}</td>
                            <td>{{ ecs.networktype }}</td>
                            <td>{{ ecs.name }}</td>
                            <td>{{ ecs.instanceid }}</td>
                            <td>{{ ecs.ostype }}</td>
                            <td>{{ ecs.osname }}</td>
                            <td>{{ ecs.IP }}</td>
                            <td>{{ ecs.publicipaddress }}</td>
                            <td>CPU:{{ ecs.cpu }}核 内存:{{ ecs.memory }}G</td>
                            <td>
                                {% if ecs.status == 'Y' %}<span>启用</span>
                                {% else %}<span>禁用</span>
                                {% endif %}
                            </td>
                            <td>{{ ecs.instancestatus }}</td>
                            <td>{{ ecs.expiredtime }}</td>
                            <td>{{ ecs.modified_time }}</td>
                            <td>{{ ecs.recently_cpu }}</td>
                            <td>{{ ecs.recently_memory }}</td>
                            <td>{{ ecs.recently_diskusage }}</td>
                            <td>
                                <a type="button" class="btn btn-danger" href="{% url 'configmanager:ecsdelete' ecs.id %}">删除</a>
                                {% if ecs.status == "Y" %}
                                    <a type="button" class="btn btn-warning" href="javascript:void(0)" onclick="ECSdisable({{ ecs.id }})">禁用</a>
                                {% else %}
                                    <a type="button" class="btn btn-success" href="javascript:void(0)" onclick="ECSenable({{ ecs.id }})">启用</a>
                                {% endif %}
                                <a type="button" class="btn btn-info" href="javascript:void(0)" onclick="UpdateECSMonitor({{ ecs.id }})">刷新监控数据</a>
                                <a type="button" class="btn btn-success" href="javascript:void(0)" onclick="UpdateECSInfo({{ ecs.id }})">刷新基础信息</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No ECS are available.</p>
        {% endif %}
    </div>
</div>

<script>
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});

//局部刷新
function PartialRefresh(ecsid) {
    var postUrl = "/ecs/"+ecsid+"/partrefresh/"
    $.post(postUrl, function(data) {
        $('#tr_'+ecsid).html(data)
    });
}

//同步所有ECS
function SyncAllECS() {
    var postUrl = "/ecs/syncallecsinfo/";

    target = $("#myspin").get(0);
    var bgDiv = document.getElementById("bgDiv");
    bgDiv.style.display = "block";
    spinner.spin(target);

    $.post(postUrl, function (data) {
        if (data.success) {
            window.location.href="/ecs/";
            alert("操作成功！");
        } else {
            alert("操作失败！"+data.message);
        }
        setTimeout(function () {
            spinner.spin();
            bgDiv.style.display = "none";
        },300);
    });
}

//刷新所有ECS基础信息
function UpdateAllECSInfo() {
    var postUrl = "/ecs/updateallinfo/";

    target = $("#myspin").get(0);
    var bgDiv = document.getElementById("bgDiv");
    bgDiv.style.display = "block";
    spinner.spin(target);

    $.post(postUrl, function (data) {
        if (data.success) {
            window.location.href="/ecs/";
            alert("操作成功！");
        } else {
            alert("操作失败！"+data.message);
        }
        setTimeout(function () {
            spinner.spin();
            bgDiv.style.display = "none";
        },300);
    });
}

//刷新所有ECS监控信息
function UpdateAllECSHealth() {
    var postUrl = "/ecs/updateallmonitor/";

    target = $("#myspin").get(0);
    var bgDiv = document.getElementById("bgDiv");
    bgDiv.style.display = "block";
    spinner.spin(target);

    $.post(postUrl, function (data) {
        if (data.success) {
            window.location.href="/ecs/";
            alert("操作成功！");
        } else {
            alert("操作失败！"+data.message);
        }
        setTimeout(function () {
            spinner.spin();
            bgDiv.style.display = "none";
        },300);
    });
}

//禁用ECS
function ECSdisable(ecsid) {
    var postUrl = "/ecs/"+ecsid+"/disable/";

    target = $("#myspin").get(0);
    var bgDiv = document.getElementById("bgDiv");
    bgDiv.style.display = "block";
    spinner.spin(target);

    $.post(postUrl, function (data) {
        if (data.success) {
            PartialRefresh(ecsid);
        } else {
            alert("操作失败！"+data.message);
        }
        setTimeout(function () {
            spinner.spin();
            bgDiv.style.display = "none";
        },300);
    });
}

//启用ECS
function ECSenable(ecsid) {
    var postUrl = "/ecs/"+ecsid+"/enable/";

    target = $("#myspin").get(0);
    var bgDiv = document.getElementById("bgDiv");
    bgDiv.style.display = "block";
    spinner.spin(target);

    $.post(postUrl, function (data) {
        if (data.success) {
            PartialRefresh(ecsid);
        } else {
            alert("操作失败！"+data.message);
        }
        setTimeout(function () {
            spinner.spin();
            bgDiv.style.display = "none";
        },300);
    });
}

//刷新ECS监控数据
function UpdateECSMonitor(ecsid) {
    var postUrl = "/ecs/"+ecsid+"/updatemonitor/";

    target = $("#myspin").get(0);
    var bgDiv = document.getElementById("bgDiv");
    bgDiv.style.display = "block";
    spinner.spin(target);

    $.post(postUrl, function (data) {
        if (data.success) {
            PartialRefresh(ecsid);
        } else {
            alert("操作失败！"+data.message);
        }
        setTimeout(function () {
            spinner.spin();
            bgDiv.style.display = "none";
        },300);
    });
}

//刷新ECS基础数据
function UpdateECSInfo(ecsid) {
    var postUrl = "/ecs/"+ecsid+"/updateinfo/";

    target = $("#myspin").get(0);
    var bgDiv = document.getElementById("bgDiv");
    bgDiv.style.display = "block";
    spinner.spin(target);

    $.post(postUrl, function (data) {
        if (data.success) {
            PartialRefresh(ecsid);
        } else {
            alert("操作失败！"+data.message);
        }
        setTimeout(function () {
            spinner.spin();
            bgDiv.style.display = "none";
        },300);
    });
}


</script>


{% endblock %}
