{% extends 'configmanager/__base__.html' %}
{% block goback %}{% url 'configmanager:ecslist' %}{% endblock %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h2>ECS管理 > 添加ECS</h2>
<form action="{% url 'configmanager:ecsaddmethod' %}" method="post">
{% csrf_token %}
<table>
    <tbody>
        <tr>
            <th>实例ID</th>
            <td><input type="text" name="instanceid" id="id_instanceid"  maxlength="30"><td>
        </tr>
    </tbody>
</table>
    <input type="submit" name="ecs-add" value="添加" />
    <input type="submit" name="goback" value="返回" />
</form>
{% endblock %}
