<!DOCTYPE html>
<tr {% if 80 < ecs.recently_cpu or 80 < ecs.recently_memory or 80 < ecs.recently_diskusage %}class="danger"{% elif 70 < ecs.recently_cpu or 70 < ecs.recently_memory or 70 < ecs.recently_diskusage %}class="warning"{% endif %}>
    <td>{{ ecs.regionId }}</td>
    <td>{{ ecs.networktype }}</td>
    <td>{{ ecs.name }}</td>
    <td>{{ ecs.instanceid }}</td>
    <td>{{ ecs.ostype }}</td>
    <td>{{ ecs.osname }}</td>
    <td>{{ ecs.IP }}</td>
    <td>{{ ecs.publicipaddress }}</td>
    <td>CPU:{{ ecs.cpu }}核 内存:{{ ecs.memory }}G</td>
    <td>
        {% if ecs.status == 'Y' %}<span>启用</span>
        {% else %}<span>禁用</span>
        {% endif %}
    </td>
    <td>{{ ecs.instancestatus }}</td>
    <td>{{ ecs.expiredtime }}</td>
    <td>{{ ecs.modified_time }}</td>
    <td>
        <a type="button" class="btn btn-danger" href="{% url 'configmanager:ecsdelete' ecs.id %}">删除</a>
        {% if ecs.status == "Y" %}
            <a type="button" class="btn btn-warning" href="javascript:void(0)" onclick="ECSdisable({{ ecs.id }})">禁用</a>
        {% else %}
            <a type="button" class="btn btn-success" href="javascript:void(0)" onclick="ECSenable({{ ecs.id }})">启用</a>
        {% endif %}
        <a type="button" class="btn btn-info" href="javascript:void(0)' onclick="UpdateECSMonitor({{ ecs.id }})" %}">刷新监控数据</a>
        <a type="button" class="btn btn-info" href="javascript:void(0)' onclick="UpdateECSInfo({{ ecs.id }})" %}">刷新基础信息</a>
    </td>
    <td>{{ ecs.recently_cpu }}</td>
    <td>{{ ecs.recently_memory }}</td>
    <td>{{ ecs.recently_diskusage }}</td>
</tr>