<td>{{ ecs.regionId }}</td>
<td>{{ ecs.networktype }}</td>
<td>{{ ecs.name }}</td>
<td>{{ ecs.instanceid }}</td>
<td>{{ ecs.ostype }}</td>
<td>{{ ecs.osname }}</td>
<td>{{ ecs.IP }}</td>
<td>{{ ecs.publicipaddress }}</td>
<td>CPU:{{ ecs.cpu }}核 内存:{{ ecs.memory }}G</td>
<td>
    {% if ecs.status == 'Y' %}<span>启用</span>
    {% else %}<span class="text-danger"><strong>禁用</strong></span>
    {% endif %}
</td>
<td>{{ ecs.instancestatus }}</td>
<td>{{ ecs.expiredtime }}</td>
<td>{{ ecs.modified_time }}</td>
<td>{{ ecs.recently_cpu }}</td>
<td>{{ ecs.recently_memory }}</td>
<td>{{ ecs.recently_diskusage }}</td>
<td>
    <a type="button" class="btn btn-danger" href="javascript:void(0)"
       onclick="ECSdelete('{{ ecs.id }}', '{{ ecs.name }}', '{{ pagenumber }}')">删除</a>
    {% if ecs.status == "Y" %}
    <a type="button" class="btn btn-warning" href="javascript:void(0)"
       onclick="ECSdisable('{{ ecs.id }}', '{{ ecs.name }}', '{{ pagenumber }}')">禁用</a>
    {% else %}
    <a type="button" class="btn btn-success" href="javascript:void(0)"
       onclick="ECSenable('{{ ecs.id }}', '{{ ecs.name }}', '{{ pagenumber }}')">启用</a>
    {% endif %}
    <a type="button" class="btn btn-info" href="javascript:void(0)"
       onclick="UpdateECSMonitor('{{ ecs.id }}', '{{ ecs.name }}', '{{ pagenumber }}')">刷新监控数据</a>
    <a type="button" class="btn btn-success" href="javascript:void(0)"
       onclick="UpdateECSInfo('{{ ecs.id }}', '{{ ecs.name }}', '{{ pagenumber }}')">刷新基础信息</a>
</td>