{% extends 'configmanager/__base__.html' %}
{% block title %}现在去发布 | {% endblock %}
{% block content %}
<h2>发布管理 > 现在去发布</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url 'configmanager:applystatuschange' apply.id %}" method="post">
{% csrf_token %}
{{ apply_form.management_form }}
{{ deployitem_form.management_form }}
<table>
    <tbody>
        <tr>
            <th>申请编号</th>
            <td>{{ apply.applyproject }}</td>
        </tr>
        <tr>
            <th>期望发布时间</th>
            {% if apply.status == "WC" %}
                <td>{{ apply_form.wishdeploy_time }}</td>
            {% else %}
                <td>{{ apply.wishdeploy_time }}</td>
            {% endif %}
        </tr>
        <tr>
            <th>选择发布站点</th>
            <td>
                <table id="table_id_deployitem">
                    <thead>
                        <tr>
                            {% for form in deployitem_form %}
                                {% if forloop.first %}
                                    {% for field in form %}
                                        {% if field.label != "Id" and field.label != "Applyproject" %}
                                            <th>{{ field.label }}</th>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="id-deployitem-tbody">
                        {% for form in deployitem_form %}
                            <tr id="deployitem-set-{{ forloop.counter0 }}">
                                <td>{{ form.deployorderby }}</td>
                                <td>{{ form.jenkinsversion }}</td>
                                <td>{{ form.deploysite }}</td>
                                <td>{{ form.type }}</td>
                                <td>{{ form.deploy_status }}</td>
                                <td>{{ form.DELETE }}</td>
                                <td>{{ form.id }}</td>
                                <td>{{ form.applyproject }}</td>
                                {# <!-- or for crispy forms --> {% crispy deployitem_form %} #}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr class="add-row"><td colspan="7"><a href="#" class="add-item" >添加另一个 发布站点</a></td></tr>
                    </tfoot>
                </table>
           </td>
        </tr>
    </tbody>
</table>

<input type={% if apply.status == 'WD' %}"submit"{% else %}"hidden"{% endif %} name="deploy-finish" value="已发布" />

<input type="submit" name="goback" value="返回" onclick='location.href=("/apply")'/>
</form>

{% endblock %}
