<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>运维管理平台|系统管理</title>
</head>
<body>
    <h1>ECS管理</h1>
    <li>
        <a href='/configmanager/ecs'>ECS列表</a>
    </li>
    <li>
        <a href=''>添加ECS</a>
    </li>
    <h1>站点管理</h1>
    <li>
        <a href=''>站点列表</a>
    </li>
    <li>
        <a href=''>添加站点</a>
    </li>
    <h1>配置管理</h1>
    <li>
        <a href=''>配置修改</a>
    </li>
    <li>
        <a href=''>待生效配置</a>
    </li>
    <h1>发布管理</h1>
    <li>
        <a href=''>待发布申请</a>
    </li>
    <li>
        <a href=''>发布申请列表</a>
    </li>
</body>
</html>
