{% extends 'configmanager/__base__.html' %}
{% block title %}修改站点 | {% endblock %}
{% block goback %}{% url 'configmanager:sitelist' %}{% endblock %}
{% block content %}
<h2>{{ site.fullname }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'configmanager:sitesave' site.id %}" method="post">
{% csrf_token %}
    <div>
        <span>站点名称：</span>
        <input type="text" name="fullname" value={{ site.fullname }} id="id_fullname"  maxlength="30">
    </div>
    <div>
        <label>站点简称：</label>
        <input type="text" name="shortname" value={{ site.shortname }} id="id_shortname"  maxlength="30">
    </div>
    <div>
        <label>配置文件夹名称</label>
        <input type="text" name="configdirname" value={{ site.configdirname }} id="id_configdirname"  maxlength="30">
    </div>
    <div>
        <label>配置文件</label>
        <input type="text" name="configfiles" value={{ configfiles }} id="id_configfiles"  maxlength="30">
    </div>
    <input type="submit" value="保存" />
</form>
<form action="{% url 'configmanager:sitelist' %}" method="get">
{% csrf_token %}
    <input type="submit" value="返回" />
</form>
{% endblock %}
