{% extends 'configmanager/__base__.html' %}
{% block goback %}{% url 'configmanager:sitelist' %}{% endblock %}
{% block content %}
<h2>{{ site.fullname }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="" method="post">
{% csrf_token %}
    <div>
        <span>站点名称：</span>
        <input type="text" name="name" value={{ site.fullname }} id="id_fullname"  maxlength="30">
    </div>
    <div>
        <label>站点简称：</label>
        <input type="text" name="shortname" value={{ site.shortname }} id="id_shortname"  maxlength="30">
    </div>
    <div>
        <label>配置文件夹名称</label>
        <input type="text" name="configdirname" value={{ site.configdirname }} id="id_configdirname"  maxlength="30">
    </div>
    <div>
        <form action="{% url 'configmanager:changeconfigfiles' site.id %}" method="post">
        {% csrf_token %}
        <label>配置文件</label>
        <select multiple="multiple" size="auto">
            {% for unselected_configfile in configfile %}
                {% if unselected_configfile not in site.configfiles.all %}
                <option value={{ unselected_configfile }}>{{ unselected_configfile }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" name="select" value="选择=>" />
        <input type="submit" name="delete" value="<=删除" />
        <select multiple="multiple" size="auto">
            {% for selected_configfile in site.configfiles.all %}
                <option value={{ selected_configfile }}>{{ selected_configfile }}</option>
            {% endfor %}
        </select>
        </form>        
    </div>
    <input type="submit" value="保存" />
</form>
<form action="{% url 'configmanager:sitelist' %}" method="get">
{% csrf_token %}
    <input type="submit" value="返回" />
</form>
{% endblock %}
