{% extends 'configmanager/__base__.html' %}
{% block title %}修改站点 | {% endblock %}
{% block goback %}{% url 'configmanager:sitelist' %}{% endblock %}
{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>站点管理 > 修改站点</h2>
<h3>{{ site.fullname }}</h3>
<form action="{% url 'configmanager:sitesave' site.id %}" method="post">
{% csrf_token %}
<table>
    <tbody>
    <tr>
        <th align="left">站点名称</th>
        <td><input type="text" name="fullname" value="{{ site.fullname }}" id="id_fullname"  maxlength="30" style="width:200px;"></td>
    </tr>
    <tr>
        <th align="left">站点简称</th>
        <td><input type="text" name="shortname" value="{{ site.shortname }}" id="id_shortname"  maxlength="30"></td>
    </tr>
    <tr>
        <th align="left">配置文件夹名称</th>
        <td><input type="text" name="configdirname" value="{{ site.configdirname }}" id="id_configdirname"  maxlength="30"></td>
    </tr>
    <tr>
        <th align="left">配置文件</th>
        <td><input type="text" name="configfiles" value="{{ site.get_configfiles }}" id="id_configfiles"  maxlength="300" style="width:350px;"></td>
    </tr>
    <tr>
        <th align="left">所属ECS</th>
        <td>{% for ecs in ECSs %}
            <span><input type="checkbox" name="{{ ecs.name }}" value="{{ ecs.name }}" {% if ecs in site.ECSlists.all %}checked="checked"{% endif %} />{{ ecs.name }}</span>
        {% endfor %}</td>
    </tr>
    <tr>
        <th align="left">所属站点族</th>
        <td>
        {% for s in Sites %}
            {% if s.id != site.id %}
                {% if not site.exist_or_not_in_siterace %}
                     <span><input type="checkbox" name="{{ s.fullname }}" value="{{ s.fullname }}" {% if s.get_raceid == site.get_raceid and s.get_raceid != 0 %}checked{% endif %} />{{ s.fullname }}</span> 
                {% endif %}
                {% if site.exist_or_not_in_siterace %}
                    {% if not s.exist_or_not_in_siterace or s.get_raceid == site.get_raceid %}
                        <span><input type="checkbox" name="{{ s.fullname }}" value="{{ s.fullname }}" {% if s.get_raceid == site.get_raceid %}checked{% endif %} />{{ s.fullname }}</span> 
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </td>
    </tr>
    <tr>
        <th align="left">端口号</th>
        <td><input type="text" name="port" value="{{ site.port }}" id="id_port"  maxlength="30"></td>
    </tr>
    <tr>
        <th align="left">测试页面</th>
        <td><input type="text" name="testpage" value="{{ site.testpage }}" id="id_testpage" maxlength="30"></td>
    </tr>
    <tr>
        <th align="left">状态</th>
        <td>
            <select name="status" id="id_status">
                <option value="Y" {% if site.status == 'Y' %}selected{% endif %}>启用</option>
                <option value="N" {% if site.status == 'N' %}selected{% endif %}>禁用</option>
            </select>
        </td>
    </tr>
    <tr>
        <th align="left">研发负责人</th>
        <td>
            <input type="text" name="devcharge" value="{{ site.devcharge }}" id="id_devcharge" maxlength="30">
        </td>
    </tr>
    <tr>
        <th align="left">发布注意事项</th>
        <td>
            <textarea name="deployattention" id="id_deployattention" rows="15" cols="60">{{ site.deployattention }}</textarea>
        </td>
    </tr>
    <tr>
        <th align="left">修改人</th>
        <td><span>{{ site.modified_user }}</span></td>
    </tr>
    <tr>
        <th align="left">修改时间</th>
        <td><span>{{ site.modified_time }}</span></td>
    </tr>
    <tr>
        <th align="left">配置修改记录</th>
        <td>
        <table>
            <th>配置文件名</th>
            <th>配置修改人</th>
            <th>配置修改时间</th>
            {% for c in site.configfile_set.all %}
            <tr>
                <td>{{ c.filename }}</td>
                <td>{{ c.modified_user }}</td>
                <td>{{ c.modified_time }}</td>
                <br />
            </tr>
            {% endfor %}
        </table>
        </td>
    </tr>
    </tbody>
</table>
<input type="submit" name="site-save" value="保存" />
<input type="submit" name="site-goback" value="返回" />
</form>
{% endblock %}
