{% extends 'configmanager/__base__.html' %}
{% block content %}

<div {% if messages %}style="display:;"{% else %}style="display:none;"{% endif %} id="alert-div" class="alert alert-info">
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
</div>

<div id="whole">
    {% if Site_list %}
        <table class="table table-hover">
            <thead>
                <th>站点名称</th>
                <th>站点简称</th>
                <th>配置文件夹名称</th>
                <th>配置文件名称</th>
                <th>所属ECS</th>
                <th>所属站点族</th>
                <th>操作</th>
            </thead>
            <tbody>
                {% for site in Site_list %}
                    <tr>
                        <td><a href="{% url 'configmanager:sitechange' site.id %}">{{ site.fullname }}</a></td>
                        <td>{{ site.shortname }}</td>
                        <td>{{ site.configdirname }}</td>
                        <td>
                            {% for configfile in site.configfile_set.all %}
                                <span>{{ configfile.filename }}</span><br />
                            {% endfor %}
                        </td>
                        <td>
                            {% for ecs in site.ECSlists.all %}
                                <span>{{ ecs }}</span><br />
                            {% endfor %}
                        </td>
                        <td>
                            {{ site.siterace }}
                        </td>
                        <td>
                            &nbsp;<a class="btn btn-primary" href="{% url 'configmanager:sitechange' site.id %}" >修改</a>&nbsp;
                            &nbsp;<a class="btn btn-danger" href="javascript:void(0)" onclick="Sitedelete('{{ site.id }}', '{{ site.fullname }}')" >删除</a>&nbsp;
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Sites are available.</p>
    {% endif %}
</div>


<script>
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});

//主体刷新
function WholePartialRefresh() {
    var postUrl = "/site/wholerefresh/"
    $.post(postUrl, function(data) {
        $('#whole').html(data)
    });
}

//删除Site
function Sitedelete(siteid, sitename) {
    var postUrl = "/site/"+siteid+"/delete/";
    var sitename = sitename

    target = $("#myspin").get(0);
    var bgDiv = document.getElementById("bgDiv");
    bgDiv.style.display = "block";
    spinner.spin(target);

    $.post(postUrl, function (data) {
        if (data.success) {
            WholePartialRefresh();
            $("#alert-div").css("display", "");
            $("#alert-div").attr("class","alert alert-danger");
            $("#alert-div").text("成功！删除站点 "+sitename);
            setTimeout(function () {
                $("#alert-div").fadeOut();
            },30000);
        } else {
            alert("操作失败！"+data.message);
        }
        setTimeout(function () {
            spinner.spin();
            bgDiv.style.display = "none";
        },300);
    });
}

</script>


{% endblock %}
