{% extends 'configmanager/__base__.html' %}
{% block goback %}{% url 'configmanager:index' %}{% endblock %}
{% block content %}
<h2>站点管理 > 站点列表</h2>
{% if Site_list %}
    <ul>
    <table border="1">
    <th>站点名称</th>
    <th>站点简称</th>
    <th>配置文件夹名称</th>
    <th>配置文件名称</th>
    <th>所属ECS</th>
    {% for site in Site_list %}
    <tr>
        <td><a href="{% url 'configmanager:sitechange' site.id %}">{{ site.fullname }}</a></td>
        <td>{{ site.shortname }}</td>
        <td>{{ site.configdirname }}</td>
        <td>
            {% for configfile in site.configfiles.all %}
                <p>{{ configfile.filename }}</p>
            {% endfor %}
        </td>
        <td>
            {% for ecs in site.ECSlists.all %}
                <p>{{ ecs }}</p>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </ul>
{% else %}
    <p>No ECS are available.</p>
{% endif %}
{% endblock %}
