{% extends 'configmanager/__base__.html' %}
{% block title %}SLB列表 | {% endblock %}
{% block content %}
<h2>SLB管理 > SLB列表</h2>
    <ul class="object-tools">
        <li>
            <a href="{% url 'configmanager:allslbinfoupdate' %}"  class="link">同步SLB基本信息</a>
        </li>
        <li>
            <a href="{% url 'configmanager:allslbhealthupdate' %}"  class="link">刷新所有SLB健康信息</a>
        </li>
    </ul>
{% if slb_list %}
    <ul>
    <table border="1">
    <th>ECS名称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SLB状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;健康状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作</th>
    <th>健康状态</th>
    <th>实例ID</th>
    <th>实例别名</th>
    <th>实例状态</th>
    <th>实例IP</th>
    <th>IP地址类型</th>
    <th>网络类型</th>
    <th>创建时间</th>
    <th>站点列表</th>
    {% for slb in slb_list %}
    <tr>
        <td align="right">
            {% for ecs in slb.slbhealthstatus_set.all %}
                <span>{{ ecs.ECS }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{% if ecs.SLBstatus == "added" %}已添加{% else %}<font color="red">已移除</font>{% endif %}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>
                    {% if ecs.SLBstatus == "added" %}
                        {% if ecs.healthstatus == "normal" %}正常&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% elif ecs.healthstatus == "abnormal" %}<font color="red">异常</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% else %}<font color="red">正在检查</font>&nbsp;
                        {% endif %}
                    {% else %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {% endif %}
                </span>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>
                    {% if ecs.SLBstatus == "added" %}<a href="{% url 'configmanager:removebackendserver' slb_id=slb.id server_id=ecs.ECS_id %}">移除</a>{% endif %}
                    {% if ecs.SLBstatus == "removed" %}<a href="{% url 'configmanager:addbackendserver' slb_id=slb.id server_id=ecs.ECS_id %}">添加</a>{% endif %}
                </span><br/>
            {% endfor %}
        </td>
        <td><a href="{% url 'configmanager:slbhealthupdate' slb.id %}">刷新</a></td>
        <td><a href="{% url 'configmanager:slbdetail' slb.id %}">{{ slb.instanceid }}</td>
        <td>{{ slb.name }}</td>
        <td>{{ slb.status }}</td>
        <td>{{ slb.ip }}</td>
        <td>{% if slb.addresstype == "internet" %}公网{% endif %}{% if slb.addresstype == "intranet" %}私网{% endif %}</td>
        <td>{% if slb.networktype == "classic" %}经典网络{% endif %}{% if slb.networktype == "vpc" %}专有网络{% endif %}</td>
        <td>{{ slb.createdate }}</td>
        <td>
            {% for site in slb.slbsite_set.all %}
                <p>{{ site }}</p>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </ul>
{% else %}
    <p>No SLB are available.</p>
{% endif %}
{% endblock %}
