                    {% for ecs in slb.slbhealthstatus_set.all %}
                        <p>
                            <span>{{ ecs.ECS }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            {% if ecs.SLBstatus == "added" %}<span class="text-info">已添加</span>{% else %}<span class="text-danger">已移除</span>{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
                            {% if ecs.SLBstatus == "added" %}
                                {% if ecs.healthstatus == "normal" %}<span class="text-success">正常</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {% elif ecs.healthstatus == "abnormal" %}<span class="text-danger">异常</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {% else %}<span class="text-warning">正在检查</span>&nbsp;
                                {% endif %}
                            {% else %}
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            {% endif %}
                            <span>
                                {% if ecs.SLBstatus == "added" %}<a href="javascript:void(0);" id="removebackendserver{{ slb.id }}" onclick="RemoveBackendServer({{ slb.id }},{{ ecs.ECS_id }})" type="button" class="btn btn-sm btn-warning" >移除</a>{% endif %}
                                {% if ecs.SLBstatus == "removed" %}<a href="javascript:void(0);" id="addbackendserver{{ slb.id }}" onclick="AddBackendServer({{ slb.id }},{{ ecs.ECS_id }})" type="button" class="btn btn-sm btn-success" >添加</a>{% endif %}
                            </span>
                         </p>
                    {% endfor %}