{% extends 'configmanager/__base__.html' %}
{% block content %}
    <div><h2>ECS管理</h2></div>
    <div>
        <a href="{% url 'configmanager:ecslist' %}" target="nav_right">ECS列表</a>
    </div>
    <div><h2>站点管理</h2></div>
    <div>
        <a href="{% url 'configmanager:sitelist' %}" target="nav_right">站点列表</a>
    </div>
    <div>
        <a href="{% url 'configmanager:siteadd' %}" target="nav_right">添加站点</a>
    </div>
    <div><h2>SLB管理</h2></div>
    <div>
        <a href="{% url 'configmanager:slblist' %}" target="nav_right">SLB列表</a>
    </div>

{% endblock %}
