#bgDiv {
    display: none;
    position: fixed;
    width:200%;
    margin : -200px -200px -20px 0px;
    height:200%;
    background-color: #909090;
    filter:progid:DXImageTransform.Microsoft.Alpha(style=3,opacity=25,finishOpacity=75);
    opacity: 0.3;
}
~        
