<!DOCTYPE html>
<html lang="en">
<head>

    <!--默认标题-->
    <title>{% block title %}{% endblock %}运维管理平台</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/configmanager/css/td.css"/>
    <link rel="stylesheet" type="text/css" href="/static/configmanager/css/bgDiv.css"/>

    <!--引用jquery cdn和bootstratp css、js-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    {#    引用echarts#}
    <script src="https://cdn.bootcss.com/echarts/4.1.0/echarts.min.js"></script>

    {#    引用jquery showloading#}
    <link href="/static/configmanager/css/showLoading.css" rel="stylesheet" media="screen"/>
    <script src="/static/configmanager/js/jquery.showLoading.min.js"></script>

    {#    引用jquery multiselect#}
    <link href="/static/configmanager/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">

    {% block head %}{% endblock %}


</head>
<body id="body">

<!--loading样式-->
{#<script src="https://cdn.bootcss.com/spin.js/2.3.2/spin.min.js"></script>#}
{#<script>#}
{#    var opts = {#}
{#        lines: 13, // 花瓣数目#}
{#        length: 20, // 花瓣长度#}
{#        width: 10, // 花瓣宽度#}
{#        radius: 30, // 花瓣距中心半径#}
{#        corners: 1, // 花瓣圆滑度 (0-1)#}
{#        rotate: 0, // 花瓣旋转角度#}
{#        direction: 1, // 花瓣旋转方向 1: 顺时针, -1: 逆时针#}
{#        color: '#5882FA', // 花瓣颜色#}
{#        speed: 2, // 花瓣旋转速度#}
{#        trail: 60, // 花瓣旋转时的拖影(百分比)#}
{#        shadow: false, // 花瓣是否显示阴影#}
{#        hwaccel: false, //spinner 是否启用硬件加速及高速旋转#}
{#        className: 'spinner', // spinner css 样式名称#}
{#        zIndex: 2e9, // spinner的z轴 (默认是2000000000)#}
{#        top: '50%', // spinner 相对父容器Top定位 单位 px#}
{#        left: '50%', // spinner 相对父容器Left定位 单位 px#}
{#        position: 'fixed',#}
{#    };#}
{#    var spinner = new Spinner(opts);#}
{##}
{##}
{#</script>#}

{% load systemmanager %}
<!--页面导航-->
<div class="container-fluid">
    <nav class="navbar navbar-static-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">运维管理平台</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="/index/">首页</a></li>
                    <li class="dropdown









                            {% if request.user|has_group:'admin' or request.user|has_group:'运维工程师' or request.user|has_group:'运维经理' %}{% else %}disabled{% endif %}">
                        <a href="#"
                           class="dropdown-toggle









                                   {% if request.user|has_group:'admin' or request.user|has_group:'运维工程师' or request.user|has_group:'运维经理' %}{% else %}disabled{% endif %}"
                           data-toggle="dropdown">
                            系统管理 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation" class="dropdown-header">ECS管理</li>
                            <li><a href="{% url 'configmanager:ecslist' %}">ECS列表</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="dropdown-header">站点管理</li>
                            <li><a href="{% url 'configmanager:sitelist' %}">站点列表</a></li>
                            <li><a href="{% url 'configmanager:siteadd' %}">添加站点</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="dropdown-header">站点族管理</li>
                            <li><a href="{% url 'configmanager:racelist' %}">站点族列表</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="dropdown-header">SLB管理</li>
                            <li><a href="{% url 'configmanager:slblist' %}">SLB列表</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            发布管理 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li role="presentation" class="dropdown-header">配置管理</li>
                            <li class="






                                    {% if request.user|has_group:'admin' or request.user|has_group:'运维工程师' or request.user|has_group:'运维经理' %}{% else %}disabled{% endif %}">
                                <a href="{% url 'configmanager:configlist' %}">配置修改</a></li>
                            <li class="






                                    {% if request.user|has_group:'admin' or request.user|has_group:'运维工程师' or request.user|has_group:'运维经理' %}{% else %}disabled{% endif %}">
                                <a href="{% url 'configmanager:undeployconfiglist' %}">待生效配置</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="dropdown-header">发布申请</li>
                            <li><a href="{% url 'configmanager:undeployapplylist' %}">待发布申请</a></li>
                            <li><a href="{% url 'configmanager:applylist' %}">发布申请列表</a></li>
                            <li><a href="{% url 'configmanager:applyadd' %}">创建发布申请</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="{% url 'configmanager:alarm_history_list' %}">报警管理</a></li>
                    <li class="dropdown"><a
                            style="{% if request.user|has_group:'admin' %}disploy:;{% else %}display:none;{% endif %}"
                            href="/admin/">后台管理</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> 欢迎！ {{ request.user.first_name }}</a>
                    </li>
                    <li><a href="{% url 'logout' %}" target="_top"><span class="glyphicon glyphicon-log-out"></span> 注销</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--页面遮盖层-->
{#<div id="bgDiv"></div>#}

<!--页面主体-->
<div class="container-fluid" id="myspin">

    <!--页面提示信息-->
    <div {% if messages %}style="display:;" {% else %}style="display:none;" {% endif %} id="alert-div"
         class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert"
                aria-hidden="true">
            &times;
        </button>
        {% if messages %}
            {% for message in messages %}
                {% autoescape off %}
                    {{ message }}
                {% endautoescape %}
            {% endfor %}
        {% endif %}
    </div>

    <!--搜索栏-->
    <div style="display:{% block search_display %}{% endblock %}" class="container-fluid">
        <form class="navbar-form navbar-left" role="search" method="get">
            <div class="form-group">
                <input type="text" size="40" class="form-control" placeholder="{% block search_notice %}{% endblock %}"
                       name="q">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
    </div>
    <br>

    <!-- content -->
    {% block content %}
    {% endblock %}
    <!-- // content -->

    <!--分页栏-->
    <div class="container-fluid table-responsive">
        {% if is_paginated %}
            <ul class="pagination">
                <li>
                    <span>共有 {{ page_obj.paginator.count }} 条记录</span>&nbsp;&nbsp;
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                </li>
                {% if page_obj.has_previous %}
                    <li><a href="?q={{ q }}&page={{ page_obj.previous_page_number }}">上一页</a></li>
                {% else %}
                    <li class="disabled"><span>上一页</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?q={{ q }}&page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?q={{ q }}&page={{ page_obj.next_page_number }}">下一页</a></li>
                {% else %}
                    <li class="disabled"><span>下一页</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

</div>

</body>
</html>
